<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="hueClientBaseUrl" value="http://192.168.1.101/"/>
    <add key="hueClientUsername" value="BYhDFTtr4dIjUTh6qAZh6yqhN5aP0R4A9CZigRwV"/>
  </appSettings>
</configuration>